[Application]
name=Drop Analysis
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=drop_analysis:main
icon=drop_analysis/data/icon.ico

[Python]
version=3.10.6

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels =    pandas==1.5.3
 numpy==1.22.4
 scipy==1.8.1
 pyqt5==5.15.6
 opencv-python-headless==4.6.0.66
 openpyxl==3.0.10
 fast-histogram==0.11
 lsq-ellipse==2.2.1
 imageio==2.19.3
 shapely==1.8.2
 pyqtgraph==0.12.4
 toml==0.10.2
 h5py==3.7.0
 appdirs==1.4.4


# Other files and folders that should be installed
files = LICENSE
    drop_analysis/data/icon.ico
